#wrapper{
	border: 1px solid;
	height: 70%;
	width: 400px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.message{
	width: 80%;
	position: absolute;
	left: 0;
	padding: 0;
	bottom:0;
	height: 30px;
	font-size: 14px; 
}
.btn-send{
	position: absolute;
	right: 0;
	width: 19%;
	padding:0;
	margin:0;
	height: 34px;
	bottom:0;
}
.discuss{
    height: 85%;
    padding: 20px;
    overflow-y: scroll;
    white-space: initial;
}
.discuss p{
	margin-bottom:10px;
}
.discuss .name{
	font-weight: bold;
}
.otherMessage{
	text-align: left;
	width: 40%;
	float: left;
}
.myOwnMessage{
	text-align: left;
	width:40%;
	float:right;
}